*{
    margin: 0;
    padding: 0px;
   
}

#siderbar {
    width: 320px;
    height: 100%;
    background-color: #293039;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  

#siderbar ul li {
    color: #fff;
    font-size: 20px;
    padding: 15px 10px;
    margin: 5px 85px 0px 35px;
    list-style: none;

}

.logo {
    width: 170px;
    border-radius: 50%;
    padding: 0px 110px 0px 30px ;
}

.Botton {
    margin: 0px 65px 70px 60px;

}

.icon {
    margin: 0px 7px ;
    padding: 0%;
    width: 28px;
}

.text {
    padding: 20px 15px 20px 10px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 20px 0px 10px 10px ;
}



p{
    padding: 0px 50px 0px 370px;
    text-align: justify;
}

.p1 { color:#fff;
    padding: 0px 50px 20px 40px;
    margin: 7px 4px 40px 30px;
    ;

    font-size: 20px;
    text-align: center;


}

h1 {
    font-size: 60px;
    color: #29B3BA;
    padding: 20px 50px 0px 370px;

    text-align: center;
}

.table {
    width: 50%;
    background: rgb(19, 16, 22, 0.8);
    margin: 20px 60px 0px 480px;



}
.icon:hover{
background-color: black;}

.text:hover {
color: #000;
}


.Botton:hover {
    color: #000;
    background-color: #fff;
    transition: all 0.4s;

    border-radius: 15px;
    transition: all 0.4s;
}