#texto{

/* centrado vertical */
position: relative;
top: 50%;
color: darkkhaki;
}
.container{
    background-color:#293039;
}


#log{

    /* centrado vertical */
    position: relative;
    margin: auto;
    top: 50%;
    
    }

    .col-lg-8{

        margin: auto;
       
    }
    
    .col-lg-8 a{

       
        color: #29B3BA;
    }
    

    .col-lg-2{
        margin: auto;
    }

    #somos{
       
        background-color: white;
    }

    #somos a{
        color: #293039;
       
       
    }

    #slideIMG{
    width: 800px;
    height: 500px;
    }
   
    .quien{
        background-color:white;
    }
    .quien h1{
        text-align: center;
    }

    .servicios h1{
        text-align: center;
        color: white;

    }
    .card{
        background-color:#293039;
     
        color:white;
        
        

    }
    .card-img-top{
        position: relative;
        align-content: center;
        margin: auto;
        max-width:20%;
        height:auto;
    }
    .card-body h5{
        color: #29B3BA;
    }
  
    .btn {
        background-color: Transparent;
        color: #29B3BA;
    }
    .productos h1{
        background-color:white;
        text-align: center;
    }
    .como h1{
        text-align: center;
        color: white;
        
    }
    #afiliarme{
        background-color: #29B3BA;
    }
  #plan{
    color: white;
    text-align: center;
  }
  #infoplan{
      color:black;
  }
  .btn{
    position: relative;
    margin: auto;   
    color: white;
  }

  .piepag{
    background-color:white;
  }
  .text-fout{
      font-weight: bold;
  }

.cpyr{
    text-align: center;
    color: white;
}
.avatar{
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    width:300px;
    height:300px;
    border-radius:150px;

}
#piepagcen{

    position: relative;
    margin: auto;
    top: 50%;
    }